
<!DOCTYPE html>
<html lang="en">
<!--Author : Rakibul Islam-->
<head>
  <title>Update Job Seeker Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  

  <style>
    h2 {
      text-align: center;
    }
    
  </style>
</head>
<body>

<div class="container"><br>
  <h2>Update Your Details </h2><br>
  <form action="/jobseeker/update" method="post">

    <div class="form-group">
      <label for="id">User ID:</label>
      <input type="id" class="form-control" name="jobseekerId" value=<%=''+data.jobseekerId%> readonly>
    </div>


    <div class="form-group">
      <label for="fname">First name:</label>
      <input type="text" class="form-control" name="firstName" value=<%=''+data.firstName%> placeholder="Enter first name" required>
    </div>

    <div class="form-group">
      <label for="lname">Last  name:</label>
      <input type="text" class="form-control" name="lastName" value=<%=''+data.lastName%> placeholder="Enter last name" value="" required>
    </div> 

    <div class="form-group">
      <label for="qualification">Select Qualification:</label>
      <select class="form-control" name="qualification">
        <option name="">Select </option>
        <option name="Secondary">Secondary </option>
        <option name="Higher Secondary">Higher Secondary</option>
        <option name="Bachelor's">Bachelor's </option>
        <option name="Master's">Master's </option>
      </select>
    </div>

    <div class="form-group">
      <label for="achievements">Achievements:</label>
      <input type="text" class="form-control" name="achievements" placeholder="Enter your achievements">
    </div>

    <div class="form-group">
      <label for="experience">Experiences:</label>
      <input type="text" class="form-control" name="experience" placeholder="Enter your experience">
    </div>

    <div class="form-group">
      <label for="skills">Skills:</label>
      <input type="text" class="form-control" name="skills" placeholder="Enter your skills">
    </div>

    <div class="form-group">
      <label for="certificates">Certificates:</label>
      <input type="text" class="form-control" name="certificates" placeholder="Enter your certificates">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
   
  </form>
</div>

</body>
</html>
